/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--basic-fonts), monospace;
  font-variation-settings: "wght" 400;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  max-width: 700px;
}

.header {
  margin: 100px 0;
}

.header_box {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 323px;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem)
    clamp(0.875rem, -1.4687rem + 9.9996vw, 7.531rem);
  gap: 20px;
  background-color: #fff;
}

.header_title {
  font-family: "PressStart2P", monospace;
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
  color: #000;
  text-transform: uppercase;
}

.header_text {
  font-family: var(--decorate-fonts), monospace;
  font-size: clamp(0.875rem, 0.6771rem + 0.8443vw, 1.437rem);
  color: #000;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid #000;
}

.card_title {
  font-size: 18px;
  padding: 4px 10px;
  font-variation-settings: "wght" 700;
  background-color: #fff;
}

.card_img {
  object-fit: cover;
  width: 100%;
  max-height: 696px;
  display: block;
}

.label_card {
  position: absolute;
  text-transform: uppercase;
  font-family: var(--decorate-fonts), monospace;
  font-size: 14px;
  right: 11px;
  top: 24px;
  text-shadow: 1px 0px #fff, 1px 0px #fff;
}

.card_img_section {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

@supports (-webkit-text-stroke: 0.5px #fff) {
  .label_card {
    text-shadow: none;
    -webkit-text-stroke: 0.5px #fff;
  }
}

.card_content {
  padding: 24px 25px 25px;
  line-height: 21px;
  background-color: #fff;
}
.card_text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: 18px;
}

.card__like-button {
  background-color: transparent;
  width: 130px;
  height: 38px;
}

.button__text {
  font-size: 14px;
  font-family: var(--decorate-fonts), monospace;
  position: relative;
  z-index: 1;
  color: #000;
  transition: color 0.5s ease-in-out;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  width: 38px;
  padding: 0;
}

.card_buttons {
  display: flex;
  justify-content: end;
  padding-top: 25px;
  gap: 6px;
}

.like-icon {
  padding-top: 2px;
  width: 36px;
}

.dialog_save {
  padding: 30px 37px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 353px;
  min-height: 191px;
}

.dialog_save::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.save {
  padding: 1px 33px;
  margin-bottom: 100px;
}

.button_save {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 15px 0px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.div_save {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.save_text {
  font-family: "PressStart2P", monospace;
  font-size: 14px;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
}

.dialog_text {
  font-family: "PressStart2P", monospace;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
}

.svg_size {
  height: 26px;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
}

.svg_save {
  z-index: 2;
}

.dialog_svg {
  min-width: 39px;
  height: 39px;
  mix-blend-mode: difference;
}

.dialog_save:not([open]) {
  pointer-events: none;
  opacity: 0;
  display: none;
}

.card_grayscale {
  filter: grayscale(100%);
}

.card_sepia {
  filter: sepia(80%);
}

.card_invert {
  filter: invert(90%);
}

.card_blur {
  filter: blur(2px);
}

.card_brightness {
  filter: brightness(1.5);
}

.card_contrast {
  filter: contrast(200%);
}

.card_rotate {
  filter: hue-rotate(90deg);
}

.card_mix {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)) contrast(150%)
    brightness(1.2);
}

.core {
  fill: transparent;
  transition: fill 0.3s ease-in-out, fill 0.3s ease-in-out 0.03s;
}

.counter {
  fill: transparent;
  transition: fill 0.3s ease-in-out 0.05s;
}

.main-body {
  transition: fill 0.3s ease-in-out 0.06s;
}

.heart {
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out 0.1s;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s ease-in 0.3s;
}

.card__icon-button:hover .core,
.card__icon-button:hover .counter {
  fill: black;
}

.card__icon-button:active .core,
.card__icon-button:active .counter {
  fill: #ff0000;
}

.like-icon.is-liked .core {
  fill: #ff0000;
}

.like-icon.is-liked .counter {
  fill: #ff0000;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 1 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 1 0.3s;
}

.card__like-button {
  background-color: transparent;
  position: relative;
  padding: 9px 0;
  width: 130px;
  height: 38px;
  transition: box-shadow 0.5s;
  isolation: isolate;
  overflow: hidden;
  border: 2px #000 solid;
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}
.button:hover::after {
  transform: translateX(0);
}

.button:hover .button__text {
  mix-blend-mode: difference;
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px #000;
}

@media (min-width: 694px) {
  .button_save {
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    letter-spacing: 0.1px;
  }
  .save {
    padding: 1px 177px;
  }
  .svg_size {
    max-width: 22px;
    max-height: 22px;
  }
  .dialog_button {
    padding: 5px;
  }
  .desk_label {
    text-transform: lowercase;
  }
  .label_card {
    top: 28px;
    right: 25px;
  }
}
