:root{
--basic-fonts: 'Inter';
--decorate-fonts: 'PressStart2P';
--bg-image: repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
repeating-linear-gradient(180deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}